@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 65px;

}


div.date {
    text-align: justify;
    font-family: 'Indie Flower', serif;
    line-height: 1.74;
    margin-bottom: 5px;
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: justify;
    font-size: 25px;
}