
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items:flex-start;
    padding: 30px 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 15px rgb(8, 65, 221);

    font-size: 25px;
    text-align: justify;
    font-family: 'Dancing script', cursive;
    line-height: 1.5;

    margin: auto;
    width: auto;
    height: 200px;
    
}




